
@{
    ViewBag.Title = "CricketTips";
}

<h2>CricketTips Article</h2>
<hr />




<p>
    <h3><u><b>3 England players to watch out for in IPL 2021</b></u></h3>

    For so long a bone of contention in English cricket, the IPL has now been embraced by players and management alike. With 14 players set to descend upon the 2021 tournament, it will represent the largest contingent from English shores.
    In a T20 World Cup year, each player will hope to use the tournament to improve in Indian conditions and make a case for selection into what is a highly competitive England team.<br />

    Having arrived late to the IPL party, England’s players haven’t yet earned the legend status achieved by some of their counterparts from Australia, South Africa and the West Indies.
    However, since England’s IPL trailblazer – Kevin Pietersen – Jos Buttler and Jofra Archer have come the closest to doing so.
    Both are superstar players in the format and integral to England’s chances in the World T20 later this year.
    You’d be brave to bet against them starring in this year’s IPL. But who are the other England players who could play a big role for their franchises this year?
</p>


<p>
    <h3><u><b>Chennai Super Kings</b></u></h3>

    CSK may be tempted to open with Moeen as an explosive hitter to accompany the right-handed Ruturaj Gaikwad, who ended last year’s tournament with three back-to-back half centuries.
    In his last two T20 Blast campaigns, Moeen has struck his runs at a strike rate in excess of 170 runs per 100 balls, while averaging 73 and 41. Given a chance to bat up the order domestically, Moeen excels.
    In 2020 CSK had the second worst run rate in the powerplay (7.13) and Moeen’s ability to effortlessly hit over the top makes him an attractive candidate to exploit the powerplay fielding restrictions.
</p>