
@{
    ViewBag.Title = "HindiMovies";
}

<h2>News About bollywood Actors</h2>
<hr />


<p>
    <u><b>Priyanka Chopra</b></u><br />
    Priyanka is among the most successful Bollywood stars to have pursued a career in Hollywood. Her debut as the lead character in TV show Quantico, which is currently on its second season, was well-received in the United States and in India.
    While filming for Quantico, the charismatic actress also played one of the lead roles in Bollywood blockbuster Bajirao Mastani, for which she won IIFA and Filmfare awards, among others.
    With a Hollywood movie premiere in Baywatch directed by Seth Gordon set for release in 2017, Priyanka has managed to juggle Hollywood and Bollywood like few others.
</p>



<p>
    <u><b>Deepika Padukone</b></u><br />
    She’s only just making her Hollywood debut, but Deepika is one of the biggest Indian actresses to foray into Hollywood while her career in Bollywood is still at its peak.
    The queen of Bollywood at the moment – in terms of popularity, box office success and pay – is starring opposite Vin Diesel in action flick XXX: The Return Of Xander Cage, set to be released early next year.
</p>


<p>

    <u><b> Irrfan Khan</b></u><br />
    This actor from Jaipur is a favorite at home and abroad. With almost just as many appearances in Bollywood and Hollywood releases, the actor has set many benchmarks.
    His latest Hollywood release includes Inferno, which is based on The Da Vinci Code author Dan Brown’s latest bestseller, and directed by Academy Award winning director Ron Howard.
    Other recent Hollywood movies include Life of Pi and The Amazing Spider-Man
</p>

