
@{
    ViewBag.Title = "Recipesworld";
}

<h2>Worls's best Top 10 Food</h2>
<hr />


<p>
    This may be because most of the popular foods in the USA originate in some other country. The pizza slice is Italian. Fries are Belgium or Dutch. Hamburgers and frankfurters? Likely German. But in the kitchens of the United States, they have been improved and added to, to become global icons for food lovers everywhere.
    Don't neglect the homegrown American dishes either.
    There's the traditional stuff such as clam chowder, key lime pie and Cobb salad, and most importantly the locavore movement of modern American food started by Alice Waters.<br />
    <p>
        <h3><u><b>Yum</b></u></h3>
        Cheeseburger -- a perfect example of making good things greater.
        Chocolate chip cookie -- the world would be a little less habitable without this Americana classic.<br />
    </p>
    <h3><u><b>DUMB</b></u></h3>
    All overly processed foods such as Twinkies, Hostess cakes and KFC.
</p>

